// Background
//
// Background color styles used site-wide
//


@import '2-tools/mixins';

// Background color map
$background: (
  grey: (
    100: $g-color-grey--100,
    500: $g-color-grey--500
  ),
  primary: (
    base: $g-color-primary
  ),
  secondary: (
    base: $g-color-secondary
  )
);

.bg {
  @include modifiers($background, 'background-color', $separator: '-');
}
