//
// A mixin associated with a map of color will be use to generate all the color classes
// These classes will be used in the HTML, to avoid to set the color in the CSS file
// The structure of the class will be like color--primary
//

// Text color map
$colors: (
	red: $g-color-red,
	grey: (
		100: $g-color-grey--100,
		500: $g-color-grey--500
	),
	primary: (
		base: $g-color-primary
	),
	secondary: (
		base: $g-color-secondary
	)
);

.color {

	@include modifiers($colors, "color");
}
