// Site Colors
//
// Colors used throughout the site
// These variables will be used in the maps to generate the text color
// and the background color classes.
// The goal is the keep the number of color minimal and optimized.
//


$g-color-black: #000;
$g-color-white: #fff;
$g-color-red: #f00;

// Brand color
$g-color-primary: #065f46;
$g-color-secondary: #c4b5fd;

// Grey tint
$g-color-grey--50: #f9fafb;
$g-color-grey--100: #f3f4f6;
$g-color-grey--200: #e5e7eb;
$g-color-grey--300: #d1d5db;
$g-color-grey--400: #9ca3af;
$g-color-grey--500: #6b7280;
$g-color-grey--600: #4b5563;
$g-color-grey--700: #374151;
$g-color-grey--800 :#1f2937;
