// Typography
//
// Font families and typography styles used site-wide
//
// $g-font-family-sans - Lato, Tahoma, Verdana, Segoe, sans-serif
// $g-font-family-serif - 'Source Serif Pro', Georgia, Times, 'Times New Roman', serif
//

//
// Font weights
//

$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

/* Self-host webfonts. Tool for
 * https://google-webfonts-helper.herokuapp.com/fonts
 */

$g-font-family-sans: Lato, Tahoma, Verdana, Segoe, sans-serif;

@mixin g-font-family-sans {
	font-family: $g-font-family-sans;
}

$g-font-family-serif: "Source Serif Pro", Georgia, Times, "Times New Roman", serif;

@mixin g-font-family-serif {
	font-family: "Source Serif Pro", Georgia, Times, "Times New Roman", serif;
}

$font-pre: "Courier 10 Pitch", courier, monospace;
$font-code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
