// Site Colors
//
// Colors used throughout the site
//
// $g-color-black - black
// $g-color-white - white
//
// markup:
// <div proto-ignore style="background-color:{$modifiers};height:50px;"><span style="font-family:monospace;padding:10px;background-color:#fff;">{$modifiers}</span></div>
//
// Styleguide 0.1

$g-color-black: black;
$g-color-white: white;
$g-color-red: #f00;
