// Mixins
//
// No styleguide

@mixin clearfix {

	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin h-container() {
	margin: 0 auto;
	width: 100%;
	min-width: $g-site-min-width;
	max-width: $g-site-max-width;
}

%h-container {
	@include h-container;
}

@function z($layer) {
	@if not map-has-key($z-layers, $layer) {
		@warn 'No layer found for `#{$layer}` in $z-layers map. Property omitted.';
	}

	@return map-get($z-layers, $layer);
}

// Create colors classes from a map
@mixin modifiers($map, $attribute, $prefix: '-', $separator: '--', $base: 'base') {
	@each $key, $value in $map {
		&#{if($key != $base, #{$prefix}#{$key}, '')} {
			@if type-of($value) == 'map' {
				@include modifiers($value, $attribute, $separator);
			}
			@else {
				#{$attribute}: $value;
			}
		}
	}
}
