// Mixins
//
// No styleguide

@mixin clearfix {

	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin h-container() {
	margin: 0 auto;
	width: 100%;
	min-width: $g-site-min-width;
	max-width: $g-site-max-width;
}

%h-container {
	@include h-container;
}

@function z($layer) {
	@if not map-has-key($z-layers, $layer) {
		@warn 'No layer found for `#{$layer}` in $z-layers map. Property omitted.';
	}

	@return map-get($z-layers, $layer);
}
