// Global styles
//
// Reset style based on https://dev.to/hankchizljaw/a-modern-css-reset-6p3


/*
 * Universal box sizing.
 */
 *,
 *::before,
 *::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}


/*
 * 1. Font-smoothing declaration makes OS X fonts look more consistent
 *    with other systems.
 * 2. Set main font.
 * 3. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 4. As a best practice, apply a default `background-color`.
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.

 */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	-moz-osx-font-smoothing: grayscale; /* 1 */
	-webkit-font-smoothing: antialiased; /* 1 */
	text-rendering: optimizeSpeed;
	font-size: $g-font-size; /* 2 */
	line-height: 1.5; /* 2 */
	overflow-y: scroll; /* 3 */
	background-color: $g-bg-color; /* 4 */
	-ms-text-size-adjust: 100%; /* 5 */
	-webkit-text-size-adjust: 100%; /* 5 */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	@extend %g-font-family-sans;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}



/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %g-font-family-serif;
	font-weight: $normal;
}

/*
 * Corrects some browsers defaulting to bolder.
 */
b,
strong {
	font-weight: $bold;
}

/*
 * Corrects overflow not hidden in IE 11.
 */
svg:not(:root) {
	overflow: hidden;
}

/*
 * Show the overflow in IE / Edge.
 */
button,
input {
	overflow: visible;
}

/*
 * Remove default vertical scrollbar in IE 11.
 */
textarea {
	overflow: auto;
}

/*
 * Style form elements.
 */
select {
	font-size: 13px;
	padding: 3px 6px;
	border: 1px solid #ccc;
	border-radius: 3px;
	outline: none;
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.15 );
}

/*
 * Style blockquote.
 */
blockquote {
	color: #666;
	font-size: 18px;
	font-style: italic;
	line-height: 1.7;
	overflow: hidden;
}

blockquote cite {
	display: block;
	font-style: normal;
	font-weight: $bold;
	margin-top: 10px;
}

/*
 * Various normalizations.
 */
dfn,
cite,
em,
i {
	font-style: italic;
}

abbr,
acronym {
	text-decoration: underline dotted;
	cursor: help;
}

mark,
ins {
	background: #eee;
	text-decoration: none;
}

small {
	font-size: 80%;
}

big {
	font-size: 125%;
}

/*
 * Correct the odd appearance in Chrome and Safari.
 */
/* stylelint-disable plugin/no-unsupported-browser-features */
[type='search'] {
	-webkit-appearance: textfield;

	&::-webkit-search-cancel-button,
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}
}
/* stylelint-enable plugin/no-unsupported-browser-features */

/*
 * Resets the button to consistent native appearance in all browsers.
 */
button {
	overflow: visible;
	border: 0;
	font: inherit;
	-webkit-font-smoothing: inherit;
	letter-spacing: inherit;
	background: none;
	cursor: pointer;
}

/*
 * Make images stay within the limits of their container.
 * Remove the space under with display block.
 */
img {
	height: auto;
	max-width: 100%;
	display: block;
	transition: opacity 0.3s;
	opacity: 1;

	&.lazyload[data-src] {
		opacity: 0;

		&.visible {
			opacity: 1;
		}
	}
}

fieldset {
	padding: 0;
	border: none;
}

legend {
	display: block;
}

iframe {
	border: none;
}

/*
 * Tables
 */
table {
	border: none;
	border-collapse: collapse;
	table-layout: fixed;
	margin: 0 0 20px;
	width: 100%;
}

thead th {
	border: none;
}

th {
	padding: 8px 0;
	text-align: left;
	border: none;
}

td {
	padding: 8px;
	border: none;
}

tr {
	border: none;
}

/*
 * Hidden element.
 */
.is-hidden,
.hidden {
	display: none !important;
}
