// Global styles

/*
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
	line-height: 1.15; /* 1 */
	/* stylelint-disable plugin/no-unsupported-browser-features */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
	/* stylelint-enable plugin/no-unsupported-browser-features */
}

/*
 * 1. Remove the margin in all browsers (opinionated).
 * 2. Font-smoothing declaration makes OS X fonts look more consistent
 *    with other systems.
 * 3. Set main font.
 */
body {
	margin: 0; /* 1 */
	-moz-osx-font-smoothing: grayscale; /* 2 */
	-webkit-font-smoothing: antialiased; /* 2 */
	font-size: 16px; /* 3 */
	line-height: 1.5; /* 3 */

	@extend %g-font-family-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %g-font-family-serif;
	font-weight: $normal;
}

/*
 * Universal box sizing.
 */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*
 * Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
	-webkit-text-decoration-skip: objects; /* 2 */
	transition: color $g-transition-color;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

/*
 * Corrects some browsers defaulting to bolder.
 */
b,
strong {
	font-weight: $bold;
}

/*
 * Corrects overflow not hidden in IE 11.
 */
svg:not(:root) {
	overflow: hidden;
}

/*
 * Show the overflow in IE / Edge.
 */
button,
input {
	overflow: visible;
}

/*
 * Remove default vertical scrollbar in IE 11.
 */
textarea {
	overflow: auto;
}

/*
 * Style form elements.
 */
select {
	font-size: 13px;
	padding: 3px 6px;
	border: 1px solid #ccc;
	border-radius: 3px;
	outline: none;
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.15 );
}

/*
 * Style blockquote.
 */
blockquote {
	color: #666;
	font-size: 18px;
	font-style: italic;
	line-height: 1.7;
	overflow: hidden;
}

blockquote cite {
	display: block;
	font-style: normal;
	font-weight: $bold;
	margin-top: 10px;
}

/*
 * Various normalizations.
 */
dfn,
cite,
em,
i {
	font-style: italic;
}

abbr,
acronym {
	text-decoration: underline dotted;
	cursor: help;
}

mark,
ins {
	background: #eee;
	text-decoration: none;
}

small {
	font-size: 80%;
}

big {
	font-size: 125%;
}

/*
 * Correct the odd appearance in Chrome and Safari.
 */
/* stylelint-disable plugin/no-unsupported-browser-features */
[type='search'] {
	-webkit-appearance: textfield;

	&::-webkit-search-cancel-button,
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}
}
/* stylelint-enable plugin/no-unsupported-browser-features */

/*
 * Resets the button to consistent native appearance in all browsers.
 */
button {
	overflow: visible;
	border: 0;
	font: inherit;
	-webkit-font-smoothing: inherit;
	letter-spacing: inherit;
	background: none;
	cursor: pointer;
}

/*
 * Make images stay within the limits of their container.
 */
img {
	height: auto;
	max-width: 100%;
	transition: opacity 0.3s;
	opacity: 1;

	&.lazy[data-src] {
		opacity: 0;

		&.visible {
			opacity: 1;
		}
	}
}

/*
 * Resetting margins and padding.
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
address,
ol,
ul,
dl,
li,
dt,
dd,
button,
input,
optgroup,
select,
textarea,
fieldset,
legend {
	margin: 0;
	padding: 0;
}

fieldset {
	padding: 0;
	border: none;
}

legend {
	display: block;
}

iframe {
	border: none;
}

/*
 * Tables
 */
table {
	border: none;
	border-top: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0 0 20px;
	width: 100%;
}

thead th {
	border-bottom: 2px solid #ccc;
	padding-bottom: 10px;
}

th {
	padding: 8px 0;
	text-align: left;
	border: none;
}

td {
	padding: 8px;
	border: none;
}

tr {
	border-bottom: 1px solid #ccc;
}

/*
 * Hidden element.
 */
.is-hidden,
.hidden {
	display: none !important;
}
