/*
 * 1. Font-smoothing declaration makes OS X fonts look more consistent
 *    with other systems.
 * 2. Set main font.
 * 3. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 4. As a best practice, apply a default `background-color`.
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.

 */

$bg-color: $g-color-white;
// A recommandation is to use the default font-size of the paragraph from the article
$font-size: rem(16px);
$color: $g-color-black;

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	-moz-osx-font-smoothing: grayscale; /* 1 */
	-webkit-font-smoothing: antialiased; /* 1 */
	text-rendering: optimizeSpeed;
	font-size: $font-size; /* 2 */
	line-height: 1.5; /* 2 */
	overflow-y: scroll; /* 3 */
	background-color: $bg-color; /* 4 */
	-ms-text-size-adjust: 100%; /* 5 */
	-webkit-text-size-adjust: 100%; /* 5 */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	@include g-font-family-sans;
}
