/**
 * Webfonts declarations
 */

/* lato-regular - latin */
@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	font-display: optional;
	src:
		local("Lato"),
		url("../../fonts/lato-v17-latin-regular.woff2") format("woff2"),
		url("../../fonts/lato-v17-latin-regular.woff") format("woff");
}

/* lato-700 - latin */
@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	font-display: optional;
	src:
		local("Lato"),
		url("../../fonts/lato-v17-latin-700.woff2") format("woff2"),
		url("../../fonts/lato-v17-latin-700.woff") format("woff");
}

/* source-serif-pro-regular - latin */
@font-face {
	font-family: "Source Serif Pro";
	font-style: normal;
	font-weight: 400;
	font-display: optional;
	src:
		local("Source Serif Pro"),
		url("../../fonts/source-serif-pro-v10-latin-regular.woff2") format("woff2"),
		url("../../fonts/source-serif-pro-v10-latin-regular.woff") format("woff");
}

/* source-serif-pro-700 - latin */
@font-face {
	font-family: "Source Serif Pro";
	font-style: normal;
	font-weight: 700;
	font-display: optional;
	src:
		local("Source Serif Pro"),
		url("../../fonts/source-serif-pro-v10-latin-700.woff2") format("woff2"),
		url("../../fonts/source-serif-pro-v10-latin-700.woff") format("woff");
}
