main {
	padding-top: var(--space);
	margin-bottom: var(--space);
}
:root {
	--space: 1.5rem
}

.stack {
	/* ↓ The space is set as a custom property */ --space: 1.5rem;
	// display: flex;
	// flex-direction: column;
	// justify-content: flex-start;
	}
	.stack > * {
	/* ↓ Any extant vertical margins are removed */ margin-top: 0;
	margin-bottom: 0;
	}
	.stack > * + * {
	/* ↓ Top margin is only applied to successive elements */ margin-top: var(--space);
	}

.center {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 18px;
	padding-right: 18px;
}

xmp {
	background-color: beige;
	padding: 0 18px;
	border-radius: 4px;
	overflow: scroll;
}
